
.zag{background-color: rgb(0, 179, 255); text-align: center;border: 3px solid #ff0000;
border-radius: 15px;
}
.hay{background-color: #ff0000;color: white;}
.hu{color: green;}
.hi{background-color: #ffdd00;color: green;text-align: center;}
.ho{background-color: #ffdd00;color: green;text-align: center;}
div{background-color: rgba(37, 37, 37, 0); width: 1500; height: 660;}
.green{color: green;}
#h{width: 300;height: 100;}
.hey{color: green;}
.otp{background-color: aquamarine;color: white; width: 150px;height: 50px;;}
.Hayvon{background-color: green;color: white;}
.Ars{background-color: red;color: white;}
.fact{background-color: blue;color: aliceblue;}
.bir{background-color: black;color: aliceblue;}
table{border: 2px solid #fff8f8;
border-collapse: collapse;
width: 1000px;
height: 150px;
text-align: center;
background-color: #ffffff;
}
.hny{background-color: #ffdd00;color: #fff8f8;border: 1px solid #e9e1c5;}















